* {
  text-shadow     : none;
}

html, body {
  font-family     : 'Open Sans', sans-serif;
  padding         : 0;
  margin          : 0 auto;
}

body {
  padding-top: 86px;
  background: #fafafa;
}

.container {
  width           : 960px;
}

.bluebox-font, .alert {
  font-family     : "Roboto Condensed", sans-serif;
}

.bluebox-header, .bluebox-not-header {
  font-size       : 24px;
}

.bluebox-header {
  background      : none repeat scroll 0 0 #092643;
}

.navbar {
  border: 0;
  border-radius: 0;
}

.bluebox-header nav, .bluebox-footer, .bluebox-name {
  font-weight     : bold;
}

.bluebox-footer {
  text-align      : center;
  font-size       : 1.25em;
}

.jumbotron {
    padding-bottom  : 12px;
    padding-top     : 12px;
}

.bluebox-lightblue {
  color           : #2162A7;
}

.bluebox-darkblue {
  color           : #092643;
}

.bluebox-nav-quad {
  width           : 800px;
  margin          : auto;
}

.border-right-bottom, .border-left-bottom {
  border-bottom   : 1px solid #2610A5;
}

.border-right-top, .border-left-top {
  border-top      : 1px solid #2610A5;
}

.border-right-bottom, .border-right-top {
  border-right    : 1px solid #2610A5;
}

.border-left-bottom, .border-left-top {
  border-left     : 1px solid #2610A5;
}

.bluebox-nav-quad {
  margin          : 1em auto;
}

.bluebox-inline {
  display         : inline;
}

.nav.navbar-nav.bluebox-nav-lowermenu li {
  width           : 190px;
}

.nav.navbar-nav.bluebox-nav-lowermenu li:first-child {
  width: 358px;
}

.nav.navbar-nav.bluebox-nav-lowermenu .bluebox-order {
  width: 190px
}

.nav.navbar-nav.bluebox-nav-lowermenu .bluebox-ship {
  width: 160px
}

.nav.navbar-nav.bluebox-nav-lowermenu .bluebox-retrieve {
  width: 220px
}

.nav.navbar-nav.bluebox-nav-lowermenu .bluebox-order,
.nav.navbar-nav.bluebox-nav-lowermenu .bluebox-ship,
.nav.navbar-nav.bluebox-nav-lowermenu .bluebox-retrieve {
  border-left: 1px solid #3a5169;
}


.navbar-nav.bluebox-nav-cue > li > a {
  padding         : 5px;
  line-height     : 12px;
}

.form-group label {
  display         : block;
  font-size : 24px;
  font-family: "roboto condensed";
  color: #a24124;
  font-weight: normal;
}

.bluebox-newaddress, .bluebox-alert-wrapper, .bluebox-hidden {
  display         : none;
}

.bluebox-header.navbar-default .navbar-nav > li > a {
  color           : #FFF;
  text-align: center;
  padding: 30px 10px 30px 40px;

}

.bluebox-header.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(163,​ 63,​ 35,​ 1);
    text-decoration : none;
}

.bluebox-nav-lowermenu li.bluebox-actionable:hover, .bluebox-nav-lowermenu li.bluebox-actionable:focus {
    background-color: #2062a7;
    color           : #FFF;
}

.bluebox-nav-lowermenu li.bluebox-active.bluebox-actionable {
    background-color: #A33F23;
    color           : #FFF;
}

.navbar-default .navbar-nav > li > a.bluebox-logo {
  background      : url("../imgs/icon_logo.svg") no-repeat top left transparent;
  width           : 230px;
  height          : 66px;
  padding         : 0;
}

.bluebox-nav-lowermenu li.bluebox-actionable a {
 padding-left    : 38px;
 outline         : 0;
}

.bluebox-order {
  background      : url("../imgs/icon_order.svg") no-repeat 20px center transparent;
}

.bluebox-ship {
  background      : url("../imgs/icon_ship.svg") no-repeat 20px center transparent;
}

.bluebox-retrieve {
  background      : url("../imgs/icon_retrieve.svg") no-repeat 20px center transparent;
}

.bluebox-feedback {
  color            : #A33F23;
}

.alert {
  font-size     : 1.5em;
  padding-left  : 48px;
}

.alert-success {
    background-image : none;
    /* border-color     : #092643; */
    /* border-width     : 3px; */
    background-color : #FFF;
    color            : #092643;
    background       : url("../imgs/bluebox-logo-small.png") no-repeat 0.1em 0.6em transparent;
    border: 0;
}

.bluebox-itemrow {
  margin-left      : 0;
}

.bluebox-itemlist-spacer {
  font-size        : 8px;
}

.bluebox-retrieve-data .checkbox label {
  font-weight: normal;
  font-size: 24px;
  color            : #A33F23;
}

.bluebox-boxanditems-boxname input[type="checkbox"] {
    margin-top       : 8px;
}

.bluebox-boxanditems-checkbox-wrapper {
  margin           : 0.9em auto;
  /* border           : 1px solid #CCC; */
  /* padding          : 1em; */
}

.bluebox-boxanditems-boxname {
  margin-left: 1em;
  font-size: 24px;
  font-weight: normal;
  font-family: 'roboto condensed';
}

.bluebox-retrieve-data .form-group > label {
  font-size: 24px;
  text-align       : center;
  color: #2061a5;
  padding: 0 0 20px;
}

.bluebox-retrieve-data .form-group:first-child {
  border-bottom    : 1px solid #cdcdcd;
  color: #2061a5!important;
}

.center {
  text-align       : center;
}

.input-group .form-control {
    width            : 370px;
}

.bluebox-red * {
  color            : #7C2B18;
}

div.bluebox-orange {
  color            : #A33F23;
  font-weight      : bold;
  font-size        : 1.3em;
}

.bluebox-header.navbar-default .navbar-nav > .bluebox-red > a {
  color: #87bbf1;
  font-size: 30px;
  font-weight: normal;
  padding: 30px 0;
}

a.bluebox-orange {
  color            : #FFF;
  background-color : #A33F23;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-left: 1px solid #3a5169;
  border-right: 1px solid #3a5169;
  padding: 0;
}

.bluebox-not-header {
  background: #fff;
}

.bluebox-not-header .navbar-collapse {
  border: 0;
  padding: 10px 20px;
}

.bluebox-not-header .navbar-right {
  text-transform: uppercase;
  font-size: 18px;
}

.btn-primary.bluebox-orange {
  background-color : #A33F23;
  background-image : none;
  border-color     : #7C2B18;
}

.content-box {
  background: #fff;
  max-width: 648px;
  border: 1px solid #acacac ;
  margin: 0 auto;
  padding: 60px 100px;
}

.btn-primary {
  box-shadow: none;
  border: 0;
}

.bluebox-boxanditems-wrapper {
  margin: 0 0 30px;
}

.bluebox-boxanditems-items {
  background: #fafafa;
  padding: 20px;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width            : 100%;
}

.bluebox-feedback {

  /* font-size        : 1.2em; */
  color            : #A33F23;
  font-weight: bold;

.bluebox-login-wrapper {


}