<!DOCTYPE html>
<html>
<head>
	<title>BlueBox</title>
	<meta></meta>
  
  <script src="/assets/extjs/current/adapter/ext/ext-base.js"></script>
  <script src="/assets/extjs/current/ext-all.js"></script>

	<script src="/assets/local/misc/static/js/jquery-1.11.0.min.js"></script>
	<script src="/assets/local/misc/static/js/jquery-ui.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic|Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css"/>
	<link href="/assets/local/misc/static/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/local/misc/static/ext/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
	<script src="/assets/local/misc/static/ext/bootstrap/js/bootstrap.min.js"></script>
	<link href="/assets/local/misc/static/ext/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css"/>
	<script src="/assets/local/misc/static/ext/bootstrap-select/bootstrap-select.js"></script>

	<link rel="stylesheet" href="/assets/local/misc/static/css/style.css">

	<script src="/assets/local/misc/static/js/script.js"></script>
  
</head>
<body>


[% INCLUDE site/public/banner.html %]
  
  
	<div class="bluebox-header bluebox-bg navbar navbar-default bluebox-font">
		<div class="container">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav bluebox-nav-lowermenu">
					<li><a>I am ready to...</a></li>
					<li class="bluebox-actionable bluebox-active bluebox-order"><a href="/order">ORDER</a></li>
					<li class="bluebox-actionable bluebox-ship"><a href="/ship">SHIP</a></li>
					<li class="bluebox-actionable bluebox-retrieve"><a href="/retrieve">RETRIEVE</a></li>
				</ul>
			</div>
		</div>
	</div>


<!-- BEGIN SECTION CONTENT -->
[% content %]
<!-- END SECTION CONTENT -->


</body>
</html>