[%- SET
  mnt_pfx = c.mount_url
  username = c.user.get_from_storage.username
  login_url = mnt_pfx _ '/auth/login'
  logout_url = mnt_pfx _ '/auth/logout'
  locations_list = account.locations_list
-%]
<!DOCTYPE html>
<html>
<head>
	<title>BlueBox</title>
	<meta></meta>
  
  <script>
  
  [% IF account %]
     var __arrayRetrieve = [%- account.boxes_list_json -%] ;
  [% ELSE %]
    var __arrayRetrieve = [];
  [% END %]
  
  </script>

  <!-- These are the min needed JS files for Ext to be available and play nicely with jQuery -->
  <script src="[% mnt_pfx %]/assets/extjs/current/adapter/ext/ext-base.js"></script>
  <script src="[% mnt_pfx %]/assets/extjs/current/ext-all.js"></script>
  <script type="text/javascript" src="[% mnt_pfx %]/assets/rapidapp/js/current.js"></script>
  <!-- -->

	<script src="[% mnt_pfx %]/assets/local/misc/static/js/jquery-1.11.0.min.js"></script>
	<script src="[% mnt_pfx %]/assets/local/misc/static/js/jquery-ui.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic|Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css"/>
	<link href="[% mnt_pfx %]/assets/local/misc/static/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="[% mnt_pfx %]/assets/local/misc/static/ext/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
	<script src="[% mnt_pfx %]/assets/local/misc/static/ext/bootstrap/js/bootstrap.min.js"></script>
	<link href="[% mnt_pfx %]/assets/local/misc/static/ext/bootstrap-select/bootstrap-select.css" rel="stylesheet" type="text/css"/>
	<script src="[% mnt_pfx %]/assets/local/misc/static/ext/bootstrap-select/bootstrap-select.js"></script>

	<link rel="stylesheet" href="[% mnt_pfx %]/assets/local/misc/static/css/style.css">

	<script src="[% mnt_pfx %]/assets/local/misc/static/js/ajax.js"></script>
  <script src="[% mnt_pfx %]/assets/local/misc/static/js/script.js"></script>

</head>
<body>


[% INCLUDE site/public/banner.html %]


	<div class="bluebox-header bluebox-bg navbar navbar-default bluebox-font">
		<div class="container">
			<div class="navbar-collapse collapse">

        [% IF username %]
  				<ul class="nav navbar-nav bluebox-nav-lowermenu">
  					<li class="bluebox-red"><a>I am ready to</a></li>
  					<li class="bluebox-actionable [%- IF active_section == 'order' -%]bluebox-active [%- END -%]bluebox-order"><a href="/order">ORDER</a></li>
  					<li class="bluebox-actionable [%- IF active_section == 'ship' -%]bluebox-active [%- END -%]bluebox-ship"><a href="/ship">SHIP</a></li>
  					<li class="bluebox-actionable [%- IF active_section == 'retrieve' -%]bluebox-active [%- END -%]bluebox-retrieve"><a href="/retrieve">RETRIEVE</a></li>
  				</ul>
        [% END %]

			</div>
		</div>
	</div>


<!-- BEGIN SECTION CONTENT -->
[% content %]
<!-- END SECTION CONTENT -->


</body>
</html>